@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Manrope:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1280px;
}

/* Header */

header {
    background-color: #a7eade;
    width: 100%;
    max-width: 1280px;
    height: 550px;
    /* justify-content: space-evenly; */
    border: 3px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coat-of-arms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coat-of-arms > img {
    width: 100%;
    height: 90%;
    margin-top: 15%;
    border: 3px solid green;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
    max-width: 1280px;
    height: 330px;
}

.nav > a {
    min-width: 200px;
    padding: 15px;
    border: 3px solid green;
    border-radius: 20px;
    background-color: rgba(196, 180, 180, 0.906);
    color: black;
    font-family:'Manrope' Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    
}

.nav > a:hover {
    font-size: 0.8em;
    color: green;
}

/* Main */

main {
    width: 100%;
    max-width: 1280px;
    flex: auto;
    border: 3px solid green;
    background-color: rgba(236, 235, 175, 0.916);
}

.banner {
    width: 100%;
    height: 550px;
    display: none;
}

.banner > img {
    width: 100%;
    height: 750px;
}

.curiosity-title {
    padding: 20px 20px;
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.curiosity-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: rgba(232, 239, 238, 0.95);
    border-radius: 20px;
    border: 3px solid green;
    margin: 30px;
}

.card > img {
    width: 70%;
    height: 40%;
    padding-top: 20px;
}

.card > h2 {
    width: 70%;
    font-size: 20px;
    font-family:'Menrope', Arial, Helvetica, sans-serif;
    text-align: center;
}

.card > p {
    padding: 0px 45px;
    text-align: justify;
    font-size: 16px;
    font-family:'Menrope', Arial, Helvetica, sans-serif;
}

.video {
    width: 100%;
    height: 600px;
}

.video-title {
    padding: 20px;
    font-family:'Lexend Deca', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.video-frame {
    padding-left: 10%;
    padding-right: 10%;
}

.video-frame > iframe {
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

/* Footer */

footer {
    width: 100%;
    background: #a7eade;
    border: 3px solid green;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 80px 0px ;
}

.contact-card > a > img {
    width: 150px;
    border-radius: 155px;
    border: 5px solid green;
}

.contact-card > a:hover {
    opacity: 0.5;
    text-decoration: none;
}

.contact-card > h2 {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    padding-top: 5px;
}
